@media screen and (max-width: 479px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
    }

    #bars {
        position: absolute;
        display: block;
    }

    nav ul {
        flex-direction: column;
        position: absolute;
        background-color: red;
        width: 100%;
        left: -100%;
    }

    nav ul.active {
        left: 0vw;
        transition: 0.2s ease-in-out;
    }

    .right {
        display: none;
    }

    /* #right2{
        display: none;
    } */
    .bars {
        top: 2vh;
        left: 90vw;
        position: relative;
    }

    #right2 img {
        position: relative;
        left: 69vw;
        height: 7vh;
    }
}