@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asset&display=swap');

* {
  padding: 0;
  margin: 0;
  cursor: none;
}

body {
  background-color: hsl(0, 0%, 0%);
  overflow-x: hidden;
}


.red {
  color: red;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

.white {
  color: white;
}


.right {
  float: right;
}

nav {
  color: white;
  height: 7vh;
  padding: 3vh 0vw;
  display: flex;
}

nav ul {
  display: flex;
  list-style: none;
}

.snowball {
  border: 1vh solid white;
}

header {
  /* position: sticky; */
  top: 0vh;
  background-color: rgb(255, 255, 255);
  height: 95px;
}

nav ul li {
  padding: 1vh 5vw;
  font-size: 15px;
  color: black;
}

nav .right {
  top: 0.8vh;
  position: relative;
  right: 43vw;
}

.search {
  border-color: black;
}

.none {
  text-decoration: none;
}

/* @keyframes animate {
    0% {
      transform: translateX(-10);
    }
  
    100% {
      transform: translate(10vw);
    }
  } */

/* .animate1 {
    animation-name: animate;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  
  .animate2 {
    animation-name: animate;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
  } */

.center {
  margin: auto;
  width: 50%;
}

.flexAllCenter {
  display: flex;
  justify-content: center;
  text-align: center;
}


main {
  font-family: 'Rubik Gemstones', cursive;
}

footer {
  font-family: 'Rubik Gemstones', cursive;
  height: 4vh;
}

header {
  font-family: 'Asset', cursive;
}

/* .scroll{
    min-height: calc(100vh - 70px - 4vh);
  } */

nav ul a li:hover {
  color: blue;
  font-weight: bolder;
}

.right {
  display: flex;
  height: 40px;
  margin: 1vh 40vw;
  background-color: black;
  color: black;
}

.right input {
  border-radius: 2px;
  margin: 0vh 0vw;
  padding: 1vw;
}

.image {
  padding: 2vh 2vw;
}

/* main div in which image is present */
.main {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 70vh;
}

footer a {
  text-decoration: none;

}

footer a img {
  position: relative;
  right: 7vw;
  top: 1vh;
  left: 65vh;
}

.f-padding {
  padding-left: 2vw;
}

footer .left {
  position: relative;
  top: 3.5vh;
  left: 2vw;
}

footer .right {
  position: relative;
  bottom: 2vh;
}

#cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-image: url("https://pngimg.com/uploads/cursor/cursor_PNG85.png") !important;
  border-color: aliceblue;
  background-color: red;
  position: absolute;
  z-index: 999;
}